/* Centers the calculator on the web page*/
.basecontainer {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.calculatorcontainer {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    padding: 1px;
    align-items: center;
    background-color: darkgray;
    width: fit-content;
    border: 1px black solid;
}

.calculatorcontainer, input,
button {
    border-radius: 8px;
}

input,
.row {
    width: 200px;
    padding: 1px;
    margin: 1px;
    display: flex;
    flex: auto;
}

input {
    text-align: right;
    height: 20px;
}

.row {
    flex: auto;
}

button {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 40px;
    margin: 1px;
    font-weight: bold;
    font-size: medium;
}